// Déclaration des imports

@import "Utils/variables";
@import "Layout/header";
@import "Layout/footer";
@import "Components/cardIndex";
@import "Layout/navbar";

//Déclaration page produits
@import "Components/product";
html{
    margin: 0;
    padding: 0;
}
body{
    background: #F3E9F1;
}