header {
  display: flex;
}
header #logo img {
  width: 60%;
}
header h1 {
  display: none;
}

foote {
  display: flex;
  flex-direction: row;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.top-nav .nav {
  display: flex;
  list-style: none;
}
.top-nav .nav .nav-list {
  padding: 15px;
}
.top-nav .nav .nav-list a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.top-nav .nav .nav-list a:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
}

.btn {
  background: linear-gradient(#955EED, 60%, #E58A0A);
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#index-card-body {
  display: flex;
  justify-content: center;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
#card-container .card {
  margin: 10px 10px 10px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}
#card-container .card .card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#card-container .card .card-description {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}
.product .product_img img {
  width: 500px;
  height: 450px;
  object-fit: cover;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 0 5px 0 5px;
}
.product .product_description {
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 0 5px 0 5px;
}
.product .product_description .product_description--spec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
}
.product .product_description .product-description-qte {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
}
.product .product_description .product-description-qte .product_description-qte-title, .product .product_description .product-description-qte .product_description-qte-select, .product .product_description .product-description-qte .product_description-qte-delete {
  margin: 0 15px 0 15px;
}
.product .product_description .product-description-qte .fa-trash-alt {
  background-image: linear-gradient(#955EED, 70%, #E58A0A);
  -webkit-background-clip: text;
  color: transparent;
}
.product .product_description .product_description--btn {
  background: linear-gradient(#955EED, 60%, #E58A0A);
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 15px;
}
.product .product_description .product_description--btn .fa-shopping-cart {
  display: none;
}

#panier-container {
  display: flex;
  justify-content: space-between;
}
#panier-container #panier-container-list {
  border: 1px solid black;
  width: 45%;
}
#panier-container #panier-container-list table {
  width: 100%;
}
#panier-container #panier-container-list #recapCommand {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#panier-container #panier-container-list .btn-command {
  width: 50%;
}

#confirmation-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #F3E9F1;
}

/*# sourceMappingURL=main.css.map */
